<div id="cart">
  {% if cart.item_count > 0 %}
    <form action="/cart" method="post" novalidate>
      <table>
        <tbody>
          {% for item in cart.items %}
            <tr>
              <td>
                <a class="no-hover" href="{{ item.url | within: collections.all }}">
                  <div class="img-wrapper">
                    <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
                  </div>
                </a>
              </td>
              <td class="details">
                <div class="row">
                  <div class="sans-serif"><strong>{{ item.product.title }}</strong></div>
                  <a style="margin-left: 15px; margin-top: 2px;" id="remove" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                      <line x1="18" y1="6" x2="6" y2="18"></line>
                      <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>                    
                  </a>
                </div>
                <div class="row">
                  <div>Quantity</div>
                  <div>
                    <input type="number" name="updates[]" placeholder="0" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
                  </div>
                </div>
                <div class="row">
                  <div>Size</div>
                  <div>{{ item.variant.title }}</div>
                </div>
                <div class="row">
                  <div>Subtotal</div>
                  <div>
                    {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money_without_trailing_zeros }}{% endif %}
                    {{ item.line_price | money_without_trailing_zeros }}
                    {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
                  </div>
                </div>
                {% comment %} <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">Remove</a> {% endcomment %}
              </td>
            </tr>
          {% endfor %}
          <tr id="cart-subtotal">
            <td ></td>
            <td class="details">
              <div class="row">
                <div>Cart Subtotal</div>
                <div>{{ cart.total_price | money_without_trailing_zeros }}</div>
              </div>
            </tr>
            <tr id="cart-buttons">
              <td></td>
              <td class="details">
                <div class="row">
                  <div></div>
                  <button type="submit" class="link" name="update">Update</button>
                </div>
                <div class="row checkout">
                  <div></div>
                  <button type="submit" class="link" name="checkout">Checkout</button>
                </div>
              </td>
            </tr>
        </tbody>
      </table>
    </form>
  {% else %}
  <div style="text-align: center">
    Cart is empty
  </div>
  {% endif %}
</div>