<div id="cart">
  {% if cart.item_count > 0 %}
    <form action="/cart" method="post" novalidate>
      <table>
        <tbody>
          {% for item in cart.items %}
            <tr>
              <td class="mobile-hide">
                <a class="no-hover" href="{{ item.url | within: collections.all }}">
                  <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
                </a>
              </td>
              <td class="details">
                <a class="no-hover mobile-show" href="{{ item.url | within: collections.all }}">
                  <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
                </a>
                <div>{{ item.product.title }}</div>
                <div class="row">
                  <div>Size</div>
                  <div>{{ item.variant.title }}</div>
                </div>
                <div class="row">
                  <div>Quantity</div>
                  <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
                </div>
                <div class="row">
                  <div>Subtotal</div>
                  <div>
                    {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money_without_trailing_zeros }}{% endif %}
                    {{ item.line_price | money_without_trailing_zeros }}
                    {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
                  </div>
                </div>
                {% comment %} <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">Remove</a> {% endcomment %}
              </td>
            </tr>
          {% endfor %}
          <tr id="cart-subtotal">
            <td class="mobile-hide"></td>
            <td class="details">
              <div class="row">
                <div>Cart Subtotal</div>
                <div>{{ cart.total_price | money_without_trailing_zeros }}</div>
              </div>
            </tr>
            <tr id="cart-buttons">
              <td class="mobile-hide"></td>
              <td class="details">
                <div class="row">
                  <div></div>
                  <button type="submit" class="link" name="update">Update</button>
                </div>
                <div class="row checkout">
                  <div></div>
                  <button type="submit" class="link" name="checkout">Checkout</button>
                </div>
              </td>
            </tr>
        </tbody>
      </table>
    </form>
  {% else %}
  <div style="text-align: center">
    Cart is empty
  </div>
  {% endif %}
</div>