{% paginate collections.all.products by 16 %}
  <div id="home">
    {% for product in collections.all.products limit:16 %}
      <div class="product">
        <a class="no-hover" href="{{ product.url | within: collection }}">
          <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
        </a>
        <div>
          <a class="sans-serif" href="{{ product.url | within: collection }}"><strong>{{ product.title }}</strong></a>
        </div>
        <div>
          {% if product.available %}{{ product.price | money }}
          {% else %}sold out
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
  <nav id="pagination" class="sans-serif">
    <div>
      {% if paginate.pages > 1 %}
        {{ paginate | default_pagination }}
      {% endif %}
    </div>
  </nav>
{% endpaginate %}
