{% paginate collections.all.products by 15 %}
  <main id="home">
    {% for product in collections.all.products limit:15 %}
      <div class="product">
        <a class="no-hover" href="{{ product.url | within: collection }}">
          <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
        </a>
        <div>
          <a class="sans-serif" href="{{ product.url | within: collection }}"><strong>{{ product.title }}</strong></a>
        </div>
        <div>
          {{ product.price | money }}
          {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
        </div>
      </div>
    {% endfor %}
    {% if paginate.pages > 1 %}
      {{ paginate | default_pagination }}
    {% endif %}
  </main id="home">
{% endpaginate %}
