

{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
<div onclick="closeModal(this)" id="product-modal">
  {% for image in product.images %}
    <div class="img-wrapper">
      <img src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}">
    </div>
  {% endfor %}
</div>
<script>
  function openModal() {
    var modal = document.getElementById('product-modal')
    modal.classList.add('open')
  }
  function closeModal(prop) {
    var modal = prop || document.getElementById('product-modal')
    modal.classList.remove('open')
  }
</script>
<div id="product-page">
  <div class="slider">
      {% for image in product.images %}
        <div>
          <img src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}">
        </div>
      {% endfor %}
  </div>
  <script>
    tns()
  </script>
  <div onclick="openModal()" id="product-images">
    <div id="images">
      {% for image in product.images %}
        <div class="img-wrapper">
          <img src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}">
        </div>
      {% endfor %}
    </div>
  </div>
  <div id="product-details">
    <div id="product-title" class="sans-serif">
      {{ product.title }}
    </div>
    {% if product.description %}
      <button type="submit" onclick="showDescriptionModal()" id="info-button">Info</button>
      <button class="hide" type="submit" onclick="hideDescriptionModal()" id="description-modal">{{ product.description }}</button>
      <script>
        function showDescriptionModal() {
          const info = document.getElementById("info-button")
          info.className = "hide"
          const modal = document.getElementById("description-modal")
          modal.className = ""
        }
        function hideDescriptionModal() {
          const info = document.getElementById("info-button")
          info.className = ""
          const modal = document.getElementById("description-modal")
          modal.className = "hide"
        }
      </script>
    {% endif %}
    <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
      <select onchange="selectChangeHandler()" name="id" id="productSelect">
        <option value="" disabled selected>Size</option>
        {% for variant in product.variants %}
          {% if variant.available %}
            <option data-price="{{ variant.price | money_without_trailing_zeros }}" value="{{ variant.id }}">
              {{ variant.title }}
            </option>
          {% else %}
            <option disabled="disabled">
              {{ variant.title }} - sold out
            </option>
          {% endif %}
        {% endfor %}
      </select>
      <div id="ProductPrice">
        {% if product.selected_or_first_available_variant.available %}
          {{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}
        {% else %}
          sold out
        {% endif %}
      </div>
      <input style="display:none;" type="number" id="Quantity" name="quantity" value="1" min="1">
      <button type="submit" name="add" id="AddToCart">Cart +</button>
    </form>
  </div>
</div>
<script>
  function selectChangeHandler(event) {
    const price = document.getElementById('productSelect').selectedOptions[0].dataset.price
    document.getElementById('ProductPrice').innerHTML = price;
  }
</script>