

{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
<div onclick="closeModal(this)" id="product-modal">
  {% for image in product.images %}
    <div class="img-wrapper">
      <img src="{{ image.src | img_url: 'master' }}" alt="{{ image.alt | escape }}">
    </div>
  {% endfor %}
</div>
<script>
  function openModal() {
    var modal = document.getElementById('product-modal')
    modal.classList.add('open')
  }
  function closeModal(prop) {
    var modal = prop || document.getElementById('product-modal')
    modal.classList.remove('open')
  }
</script>
<div id="product-page">
    <div class="slider">
      {% for image in product.images %}
        <div>
          <div>
            <img src="{{ image.src | img_url: '700x700' }}" alt="{{ image.alt | escape }}">
          </div>
        </div>
      {% endfor %}
  </div>
  <script>
    tns({
      container: ".slider",
      controls: false,
      navPosition: "bottom",
      center: true,
      mouseDrag: true,
      swipeAngle: false,
      preventScrollOnTouch: true,
      nav: true,
      loop: false
      })
  </script>
  <div onclick="openModal()" id="product-images">
    <div id="images">
      {% for image in product.images %}
        <div class="img-wrapper">
          <img src="{{ image.src | img_url: '700x700' }}" alt="{{ image.alt | escape }}">
        </div>
      {% endfor %}
    </div>
  </div>
  <div id="product-details">
    <div id="product-title" class="sans-serif">
      {{ product.title }}
    </div>
    {% if product.description %}
      <div type="submit" id="description-modal">{{ product.description }}</div>
    {% endif %}
    <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
      <select onchange="selectChangeHandler()" name="id" id="productSelect">
        <option value="" disabled selected>Size</option>
        {% for variant in product.variants %}
          {% if variant.available %}
            <option data-price="{{ variant.price | money_without_trailing_zeros }}" value="{{ variant.id }}">
              {{ variant.title }}
            </option>
          {% else %}
            <option disabled="disabled">
              {{ variant.title }} - Sold Out
            </option>
          {% endif %}
        {% endfor %}
      </select>
        <span id="caret-container">
          <svg id="down-caret" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>        
        </span>
        <div id="ProductPrice">
        {% if product.selected_or_first_available_variant.available %}
          {{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}
        {% else %}
          Sold Out
        {% endif %}
      </div>
      <input style="display:none;" type="number" id="Quantity" name="quantity" value="1" min="1">
      <button disabled class="color-blue sans-serif-important unstyled" type="submit" name="add" id="AddToCart">
      PURCHASE
      </button>
    </form>
  </div>
  <div style="visibility: hidden; position: absolute;" id="text-measurement-tool"></div>
</div>
<script>
  function selectChangeHandler() {
    const productSelect = document.getElementById('productSelect');
    const length = productSelect.selectedOptions[0].innerText.trim().length;
    const price = productSelect.selectedOptions[0].dataset.price;
    if (price) {
      document.getElementById('ProductPrice').innerHTML = price;
      document.getElementById('AddToCart').disabled = false;
    } else {
      document.getElementById('AddToCart').disabled = true;
    }
    const tool = document.getElementById("text-measurement-tool");
    tool.innerHTML = productSelect.selectedOptions[0].innerText.trim();
    const width = ((tool.clientWidth || 40) + 1);
    const amount = (width + 15) + 'px;';
    productSelect.setAttribute('style', 'width: ' + amount);
  }
  selectChangeHandler();
</script>